.is-active{
	background-color: var(--z-admin-layout-el-menu-item-is-active-bg);
	color: var(--z-admin-layout-el-menu-item-is-active-color);
}

.is-active:hover{
	background-color: var(--z-admin-layout-el-menu-item-is-active-bg) !important;
}

.el-menu-item{
	height: 40px;
}

.el-menu-item:hover{
	background-color: var(--z-admin-layout-el-menu-item-hover-bg);
}