:root {
	// 滚动条颜色
	--z-admin-scrollbar-track: gray;
	--z-admin-scrollbar-thumb: red;
	--z-admin-scrollbar-thumb-hover: yellow;
	// 左侧菜单的宽度
	--z-admin-layout-sidebar-width: 250px;
	--z-admin-layout-sidebar-minwidth: 60px;
	// 左侧菜单的背景颜色
	--z-admin-layout-sidebar-bg: #00142c;
	--z-admin-layout-sidebar-color: #fff;
	// 顶部tabbar高度
	--z-admin-layout-tabbar-height: 60px;
	// 顶部tabbar背景颜色
	--z-admin-layout-tabbar-bg: #fff;
	// logo 标题字体大小
	--z-admin-layout-logo-fontsize: 18px;
	--z-admin-layout-logo-color: #fff;
}
